<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quiz 3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        padding: 0;
        margin: 0 0 ;
        background: url("/static/images/bg.gif") no-repeat center center fixed;
        background-size: cover;
    }
</style>
<script>
    $(document).ready(function () {
        $(".delete").click(function () {
            var id = $(this).data("id");
            $(".yes").data("id", id);
            var title = $(".yes").data("id");
            $("#confirm").modal();
        });
        $(".yes").click(function () {
            var title = $(this).data("id");
            window.location.href = "/delete/" + title;
        });
    });
</script>


<body>
    <div class="container">
    {% block body %}{% endblock %}
    </div>
 
</body>


</html>