{% extends 'base_layout.html' %}
{% block body %}

<form action='' method="POST">
    <h4 class="text-center" style="color: white;">แก้ไขข้อมูล</h4>

    <div class="form-group">
        <h4 style="color: white;">Title:</h4>
        <input type="text" placeholder="Title | ชื่อหนังสือ" class="form-control" name="title"
            value="{{ book.title }}" />
        <h4 style="color: white;">Author:</h4>
        <input type="text" placeholder="Author | ชื่อผู้แต่ง" class="form-control" name="author"
            value="{{ book.author }}" />
        <h4 style="color: white;">Genre:</h4>
        <input type="text" placeholder="Genre | ประเภทหนังสือ" class="form-control" name="genre"
            value="{{ book.genre }}" />
        <h4 style="color: white;">Height:</h4>
        <input type="integer" placeholder="Height | จำนวนหน้า" class="form-control" name="height"
            value="{{ book.height }}" />
        <h4 style="color: white;">Publisher:</h4>
        <input type="text" placeholder="Publisher | สำนักพิมพ์" class="form-control" name="publisher"
            value="{{ book.publisher }}" />
    </div>


    <div class="d-flex justify-content-center">
        <div class="btn-group pt-3">
            <input type="submit" class="btn btn-success mr-2" value="Update" />
            <a href="/" class="btn btn-primary">Back</a>
        </div>
    </div>
</form>
</div>
{% endblock body %}